{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a post</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
   

</head>

<body>
    {% include "navbar.html" %}

    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="project_name">Project name</label>
            <input type="text" class="form-control" id="project_name" name="project_name" placeholder="Project name">
        </div>
        <div class="form-group">
            <label for="project_description">Project description</label>
            <textarea class="form-control" id="project_description" name="project_description" rows="3"></textarea>
        </div>
        <div class="form-group">
            <label for="project_link">Project link</label>
            <input type="text" class="form-control" id="project_link" name="project_link" placeholder="Project link">
        </div>
        <div class="form-group">
            <label for="project_image">Project image</label>
            <input type="file" class="form-control-file" id="project_image" name="project_image">
        </div>
        <div class="form-group">
            <label for="project_category">Project category</label>
            <select class="form-control" id="project_category" name="project_category">
                <option>Web design</option>
                <option>Web development</option>
                <option>Mobile development</option>
                <option>Game development</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</body>
</html>